.logo {
  position: relative;
  display: inline-block;
}

.logo img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border: 1px solid white;
  background-color: black;
  padding: 4px;
}

.logo:hover .overlay-text {
  opacity: 1;
}
